body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
}

.login-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  color: #333;
  font-size: 2em;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-size: 1em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

form {
  display: flex;
  flex-direction: column;
}

input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
}

input[type="password"]:focus {
  border-color: #2980b9;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2980b9;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a6391;
}

#error-message {
  margin-top: 10px;
  color: red;
  font-size: 0.9em;
  display: none;
}
